<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wzm.mapper.UserInfoMapper">
    <resultMap id="userInfoMap" type="org.wzm.domain.UserInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nick" property="nick"/>
        <result column="avatar" property="avatar"/>
        <result column="sign" property="sign"/>
        <result column="gender" property="gender"/>
        <result column="birth" property="birth"/>
        <result column="role_code" property="roleCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, nick, avatar, sign, gender, birth, role_code, create_time, update_time
    </sql>

    <select id="getUserInfoByUserId" resultMap="userInfoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info
        WHERE user_id = #{userId}
    </select>

    <!-- 根据多个用户ID查询用户信息列表 -->
    <select id="listByUserIds" resultMap="userInfoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info
        WHERE user_id IN
        <foreach item="userId" index="index" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 保存用户信息 -->
    <insert id="save" parameterType="org.wzm.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user_info (user_id, nick, avatar, sign, gender, birth, role_code, create_time, update_time)
        VALUES (#{userId}, #{nick}, #{avatar}, #{sign}, #{gender}, #{birth}, #{roleCode}, #{createTime}, #{updateTime})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUserInfos" parameterType="org.wzm.domain.UserInfo">
        UPDATE t_user_info
        SET
        nick = #{nick},
        avatar = #{avatar},
        sign = #{sign},
        gender = #{gender},
        birth = #{birth},
        role_code = #{roleCode},
        update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>

</mapper>
